body {
    background-image: url("http://media.giphy.com/media/10Pb7FFjUydijC/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
}




div {
    background-color: rgba(48, 110, 255, .3);
    width:300px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-100px 0 0 -150px;
    text-align: center;
}

div a {
    top: 1000%;
}
