body {
    background-image: url("http://media.giphy.com/media/10Pb7FFjUydijC/giphy.gif");
    background-repeat: no-repeat;
    background-size: 80px 60px;
}

h1 {
    color: green;
}

/*div {
   width:1500px;
   height:500px;
}
*/
